<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.peach.dao.InterestMapper">
    <resultMap id="BaseResultMap" type="com.example.peach.pojo.Interest">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="image_url" jdbcType="VARCHAR" property="imageUrl"/>
        <result column="category" jdbcType="VARCHAR" property="category"/>
    </resultMap>
    <resultMap id="UserAlbum" type="com.example.peach.pojo.merge.UAlbum">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="user_nickname" jdbcType="VARCHAR" property="nickName"/>
    <result column="user_realname" jdbcType="VARCHAR" property="userRealname"/>
    <result column="user_birthday" jdbcType="DATE" property="userBirthday"/>
    <result column="user_phone" jdbcType="VARCHAR" property="userphone"/>
    <result column="user_age" jdbcType="INTEGER" property="userage"/>
    <result column="sex" jdbcType="INTEGER" property="gender"/>
    <result column="country" jdbcType="VARCHAR" property="country"/>
    <result column="province" jdbcType="VARCHAR" property="province"/>
    <result column="city" jdbcType="VARCHAR" property="city"/>
    <result column="user_address" jdbcType="VARCHAR" property="userAddress"/>
    <result column="user_autograph" jdbcType="VARCHAR" property="userAutograph"/>
    <result column="user_occupation" jdbcType="VARCHAR" property="userOccupation"/>
    <result column="is_marriage" jdbcType="BIT" property="isMarriage"/>
    <result column="user_height" jdbcType="INTEGER" property="userHeight"/>
    <result column="user_education" jdbcType="VARCHAR" property="userEducation"/>
    <result column="user_salary" jdbcType="VARCHAR" property="userSalary"/>
    <result column="user_interest" jdbcType="VARCHAR" property="userInterest"/>
     <result column="user_label" jdbcType="VARCHAR" property="userLabel" />
    <result column="user_jurisdiction" jdbcType="INTEGER" property="userJurisdiction"/>
    <result column="user_idcard" jdbcType="CHAR" property="userIdcard"/>
    <result column="headimgurl" jdbcType="VARCHAR" property="avatarUrl"/>
    <result column="user_integral" jdbcType="INTEGER" property="userIntegral"/>
    <result column="openid" jdbcType="VARCHAR" property="openid"/>
    <result column="is_realname" jdbcType="BIT" property="isrealname"/>
    <result column="user_native" jdbcType="VARCHAR" property="usernative"/>
    <result column="unionid" jdbcType="VARCHAR" property="unionid"/>
    <result column="user_marrytime" jdbcType="VARCHAR" property="userMarrytime"/>
    <result column="user_newold" jdbcType="BIT" property="userNewold"/>
    <result column="user_tips" jdbcType="BIT" property="userTips" />
        <result column="user_house" jdbcType="INTEGER" property="userHouse" />
        <result column="user_car" jdbcType="INTEGER" property="userCar" />
        <result column="user_praise" jdbcType="INTEGER" property="userPraise" />
        <result column="user_blacklist" jdbcType="INTEGER" property="userBlacklist" />
        <result column="user_createtime" property="userCreatetime"/>
</resultMap>
    <sql id="Base_Column_List">
           id,name,image_url,category
        </sql>
    <!--查询-->
    <select id="selectById" parameterType="java.lang.Integer" resultType="java.lang.String">
        SELECT category
        FROM interest
    </select>


    <!--修改-->
    <update id="updateInterest" parameterType="com.example.peach.pojo.Interest">
        UPDATE interest SET category= #{interest} WHERE id= #{id}
    </update>


    <insert id="insertInterest" parameterType="com.example.peach.pojo.Interest">
        INSERT INTO interest(name,category) VALUES( #{name} , #{category} )
    </insert>

    <!--<select id="selectInterstall" parameterType="int" resultType="com.example.peach.pojo.Interest">-->

    <!--</select>-->

    <select id="selectLikeCategory" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from interest
        where category  LIKE CONCAT('%',#{category},'%');
    </select>

    <select id="selectAllInterest" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from interest
    </select>
    <select id="selectUserAlbumBy" parameterType="java.lang.Integer" resultMap="UserAlbum">
        SELECT u.*
    FROM interest as i,user as u,uilinked as ui
  WHERE ui.user_id = u.id and ui.interest_id = i.id and ui.interest_id=#{id}
    </select>
</mapper>
